<h2>Show item</h2>

<ul>

  <li>
    <strong>Body:</strong>
    <%= @item.body %>
  </li>

  <li>
    <strong>List:</strong>
    <%= @item.list_id %>
  </li>

</ul>

<%= link "Edit", to: item_path(@conn, :edit, @item) %>
<%= link "Back", to: item_path(@conn, :index) %>
