<h2>Show list</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @list.name %>
  </li>

</ul>

<%= link "Edit", to: list_path(@conn, :edit, @list) %>
<%= link "Back", to: list_path(@conn, :index) %>
